<router-outlet></router-outlet>
<button nz-button nzType="primary" routerLink="/agrCobros">
  <span nz-icon nzType="plus"></span>
  Agregar
</button>

<nz-table
  #basicTable

  class="pt-4"
  [nzScroll]="{ x: '600px' }"
>
  <thead>
    <tr>
      <th nzWidth="10%" nzAlign="center">Código</th>
      <th nzWidth="25%" nzAlign="center">Descripción</th>
      <th nzWidth="10%" nzAlign="center">Fecha</th>
      <th nzWidth="10%" nzAlign="center">Total</th>
      <th nzWidth="10%" nzAlign="center">Cédula</th>
      <th nzWidth="20%" nzAlign="center">Cuenta Bancaria</th>
      <th nzWidth="10%" nzAlign="center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td nzAlign="center" nz>{{ data.idCB }}</td>
      <td nzAlign="center">{{ data.nombreCB }}</td>
      <td nzAlign="center">{{ data.entidadCB }}</td>
      <td nzAlign="center">{{ data.descripcionCB }}</td>
      <td nzAlign="center">{{ data.estadoCB ?'Habilitado':'Deshabilitado' }}</td>
      <td nzAlign="center"><a routerLink="/modificar">Editar</a></td>
    </tr>
  </tbody>
</nz-table>

