[nz-form] {
  max-width: 600px;
}

.ant-cascader {
  width: 100%;
  margin-bottom: 8px;
}

nz-select {
  width: 200px;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

h4 {
  margin: 16px 0;
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
}

h4:first-child {
  margin-top: 0;
}

[nz-button] {
  margin-bottom: 12px;
}

nz-button-group {
  margin-bottom: 8px;
  margin-right: 8px;
}
