<router-outlet></router-outlet>
<h2 style="color: #001529">Estado de Cuenta de Clientes</h2>
<form nz-form>
    <nz-row [nzGutter]="8">
        <nz-col nzSpan="5">
            <nz-form-label for="codigo">FECHA INICIO</nz-form-label>
            <nz-form-item>
                <input type="date" class="form-control" formControlName="fechaIni" />
            </nz-form-item>
        </nz-col>

        <nz-col nzSpan="5">
            <nz-form-label for="codigo">FECHA FIN</nz-form-label>
            <nz-form-item>
                <input type="date" class="form-control" formControlName="fechaFin" />
            </nz-form-item>
        </nz-col>
        <nz-col nzSpan="5">
            <nz-form-label for="estado" nzRequired>CLIENTE</nz-form-label>
            <nz-form-item>
                <nz-form-control nzErrorTip="Seleccione cliente">
                    <nz-select nzPlaceHolder="Seleccione...">
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzSpan="5">
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" type="submit">
                        <span nz-icon nzType="save"></span> Guardar
                    </button>
                    <button nz-button nzType="primary" type="submit">
                        <span nz-icon nzType="print"></span> Imprimirr
                    </button>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <h4 style="color: gray">ESTADO DE CUENTA DEL CLIENTE</h4>

    <nz-table #basicTable class="pt-4" [nzScroll]="{ x: '600px' }">
        <thead>
            <tr>
                <th nzWidth="20%" nzAlign="center">ID</th>
                <th nzWidth="20%" nzAlign="center">DESCRIPCION</th>
                <th nzWidth="15%" nzAlign="center">FECHA</th>
                <th nzWidth="10%" nzAlign="center">ID BANCO</th>
                <th nzWidth="15%" nzAlign="center">CEDULA DEL CLIENTE</th>
                <th nzWidth="20%" nzAlign="center">TOTAL A PAGAR</th>
            </tr>
        </thead>
        <tbody>
            <h4 style="color: gray">DETALLES</h4>
            <nz-table #basicTable class="pt-4" [nzScroll]="{ x: '600px' }">
                <tr *ngFor="let cabecera">
                    <td nzAlign="center">{{cabecera.idPC}}</td>
                    <td nzAlign="center">{{cabecera.descripcionPC}}</td>
                    <td nzAlign="center">{{cabecera.fechaPC | date: 'd/M/yy'}}</td>
                    <td nzAlign="center">{{cabecera.idCB}}</td>
                    <td nzAlign="center">{{cabecera.cedulaCli}}</td>
                    <td nzAlign="center">{{cabecera.totalPD | currency: 'USD' | lowercase}}</td>
                    <td>
                        <table class="table table-sm  border-dark table-info">
                            <tr>
                                <th nzWidth="20%" nzAlign="center">ID</th>
                                <th nzWidth="20%" nzAlign="center">ID Detalle</th>
                                <th nzWidth="15%" nzAlign="center">Numero Factura</th>
                                <th nzWidth="10%" nzAlign="center">Valor pagar</th>
                                <th nzWidth="15%" nzAlign="center">Saldo Factura</th>
                                <th nzWidth="20%" nzAlign="center">TOTAL Factura</th>
                            </tr>
                            <tr *ngFor="let detalle of cabecera.detalles">
                                <td nzAlign="center">{{detalle.idPD}}</td>
                                <td nzAlign="center">{{detalle.numeroFac}}</td>
                                <td nzAlign="center">{{detalle.valorApagar | currency: 'USD' | lowercase}}</td>
                                <td nzAlign="center">{{detalle.saldoFac | currency: 'USD' | lowercase}}</td>
                                <td nzAlign="center">{{detalle.saldoFac + detalle.valorApagar | currency: 'USD' |
                                    lowercase}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </nz-table>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button routerLink="/iniDeudores">
                        <span nz-icon nzType="caret-left" nzTheme="outline"></span>Regresar
                    </button>
                    <button nz-button nzType="primary" type="submit">
                        <span nz-icon nzType="save"></span> Agregar
                    </button>
                </nz-form-control>
            </nz-form-item>
        </tbody>
    </nz-table>
</form>

<div class="row mt-4"></div>